#search_btn{
	padding-top: 18%;

	transition: padding-top 2s;
	transition-timing-function:ease-in-out;
}

p{
	color: #F0E8E8;
}
#condition{
	font-size: 50px;
}

#temp_unit{
	color: #157ADF;
	background-color: transparent;
	border: none;
}

#temp_unit:hover{
	opacity: .6;

}

#answer{
	padding-top: 10%;
}